@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ChangePasswordClick", "BTC", new { oldPassword = Request.Form["oldPassword"], newPassword = Request.Form["newPassword"] }, FormMethod.Post))
{
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Change Password</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row" style="margin-bottom:15px">
                    <div class="form-group">
                        <label class="col-sm-3">Old Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="form-group">
                        <label class="col-sm-3">New Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control pull-right" id="newPassword" name="newPassword" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="form-group">
                        <label class="col-sm-3">Confirm Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control pull-right" id="confirmPassword" name="confirmPassword" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="form-group">
                        <div class="col-sm-9">
                            <span id="message"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input type="submit" class="form-control btn btn-info" value="Change Password" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
    if (ViewBag.Message != null)
    {
    <div class="alert alert-danger">
        <strong>@ViewBag.Message</strong>
    </div>
    }
}

@section scripts{
    <script type="text/javascript">
        $('#newPassword, #confirmPassword').on('keyup', function () {
            if ($('#newPassword').val() !== '') {
                $('#message').show();
                if ($('#newPassword').val() == $('#confirmPassword').val()) {
                    $('#message').html('Matching').css('color', 'green');
                } else
                    $('#message').html('Not Matching').css('color', 'red');
            }
            else {
                $('#message').hide();
            }
        });
    </script>
}