@model Travel_Request_System_EF.Models.ViewModel.EmployeeDetails

@{
    ViewBag.Title = "Employee Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12 col-md-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Employee Information</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-3">Application/ Form No.</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right disabled" id="applicatioNo" name="applicatioNo" />
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom:15px">
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Employee ID</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="employeeID" name="employeeID" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">BTC Employee Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right disabled" id="employeeCode" name="employeeCode" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Employee Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="employeeName" name="employeeName" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Employee Position Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="employeePositionCode" name="employeePositionCode" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Designation</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right disabled" id="designation" name="designation" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Department</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="department" name="department" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Department Head</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right disabled" id="departmentHead" name="departmentHead" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Cost Center</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="costCenter" name="costCenter" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Cost Center Head</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right disabled" id="costCenterHead" name="costCenterHead" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Passport Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="passportNumber" name="passportNumber" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Passport Epiry</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right disabled" id="passportEpiry" name="passportEpiry" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Qatar ID</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="qatarID" name="qatarID" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Qatar Expiry</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right disabled" id="qatarExpiry" name="qatarExpiry" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Location</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="location" name="location" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Section</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right disabled" id="section" name="section" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Contact Details</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="contactDetails" name="contactDetails" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
