@{
    ViewBag.Title = "Travel Request System";
    ViewBag.Description = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="box box-default">
      <div class="box-header">
        <h3 class="box-title">Introduction about BTC 1</h3>
      </div>
      <div class="box-body">
        <p>
          Some text
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-12">
    <div class="box box-default">
      <div class="box-header">
        <h3 class="box-title">Introduction about BTC 2</h3>
      </div>
      <div class="box-body">
        <p>
          Some text
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-12">
    <div class="box box-default">
      <div class="box-header">
        <h3 class="box-title">Introduction about BTC 3</h3>
      </div>
      <div class="box-body">
        <p>
          Some text
        </p>
      </div>
    </div>
  </div>
</div>