@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{string HomeURL;}
@if (ViewBag.LoggedOut == null || (ViewBag.LoggedOut != null && ViewBag.LoggedOut))
{
    HomeURL = Url.Action("Index", "Account");
}
else
{
    HomeURL = Url.Action("Index", "BTC");
}
@{
    ViewBag.Title = (!String.IsNullOrEmpty(ViewBag.StatusCode)) ? ViewBag.StatusCode : "500 Error";
}

<h1 class="error">@(!String.IsNullOrEmpty(ViewBag.StatusCode) ? ViewBag.StatusCode : "500 Error")</h1>

<h1 class="error" style="visibility:hidden">@(!String.IsNullOrEmpty(ViewBag.ErrorText) ? ViewBag.StatusCode : "500 Error")</h1>

<div style="background-color: #ff0000; color: White; height: 10px;">
</div>
<div style="background-color: #F5F5DC; color: black; height: auto;">
  <div style=" padding:20px;">
    <h3>
      @*Application Error: @(!String.IsNullOrEmpty(ViewBag.ErrorText) ? ViewBag.ErrorText : "Unknown Error")*@
      Application Error Occurred. Please Contact the Administrator to get more details.
    </h3>
    <h3>
      Sorry, The Page, You are Looking for is not found.
    </h3>
    <br />
  </div>
</div>
<div style="background-color: #ff0000; color: White; height: 10px;">
</div>

<a href="@HomeURL"><h4>Go Back To Home Page</h4></a>