@model Travel_Request_System_EF.Models.TravelRequests

@{
    ViewBag.Title = "RFQ Processing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="height:auto">
        <div class="row" style="margin-bottom:15px">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-4">
                        <input type="submit" class="form-control btn btn-info btn-primary" value="Add to Processing Table" />
                        @*@Html.ActionLink("Add to Processing Table", "RFQMerger", new { id = Model.RFQID }, new { @class = "form-control btn btn-info" })*@
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3 pull-right">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "form-control btn btn-info" })
                </div>
            </div>
        </div>

        <div class="form-horizontal">

            <aside class="right-side">
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">RFQ Processing Table</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <table class="table table-condensed table-bordered">
                                        <thead>
                                            <tr class="success">
                                                <th>##</th>
                                                <th>Details To be Extracted </th>
                                                <th>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="checkAll" id="checkAll">
                                                        </label>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>AT</td>
                                                <td>
                                                    Specific details captured from Air Ticket Arrangement section
                                                </td>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="ATCheck" id="ATCheck">
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>HS</td>
                                                <td>
                                                    Specific details captured from Hotel Stay section
                                                </td>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="HSCheck" id="HSCheck">
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>PC</td>
                                                <td>
                                                    Specific details captured from Airport Pickup section
                                                </td>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="PCCheck" id="PCCheck">
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>
                </section>
            </aside>

            @Html.Partial("_TravelRequestDetails", Model);

        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        if ($('#airportpic').text() == "Yes") {
            $('#PickUpDetailsDiv').show()
        }
        else {
            $('#PickUpDetailsDiv').hide()
        }

        $('#detailsDiv').find('textarea').attr('disabled', 'disabled');

        $('#checkAll').on('ifChecked', function (event) {
            $('#ATCheck').iCheck('check');
            $('#HSCheck').iCheck('check');
            $('#PCCheck').iCheck('check');
        });
        $('#checkAll').on('ifUnchecked', function (event) {
            $('#ATCheck').iCheck('uncheck');
            $('#HSCheck').iCheck('uncheck');
            $('#PCCheck').iCheck('uncheck');
        });
        $('#ATCheck').on('ifUnchecked', function (event) {
            $('#checkAll').iCheck('uncheck');
        });
        $('#HSCheck').on('ifUnchecked', function (event) {
            $('#checkAll').iCheck('uncheck');
        });
        $('#PCCheck').on('ifUnchecked', function (event) {
            $('#checkAll').iCheck('uncheck');
        });
    </script>
}
