@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ForgotPasswordClick", "Account",new { EmailID = Request.Form["emailID"] }, FormMethod.Get))
{
<div class="col-xs-12 col-md-12">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Forgot Password</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div class="row" style="margin-bottom:15px">
        <div class="form-group">
          <label class="col-sm-3">Email ID</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="emailID" name="emailID" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <input type="submit" class="form-control btn btn-info" value="Reset Password" />
          </div>
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </div>
  </div>
</div>
}