<div class="col-xs-12 col-md-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Employee Information</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-3">Application/ Form No.</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right disabled" id="applicatioNo" name="applicatioNo" />
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom:15px">
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Employee ID</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="employeeID" name="employeeID" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">BTC Employee Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right disabled" id="employeeCode" name="employeeCode" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Employee Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="employeeName" name="employeeName" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Employee Position Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="employeePositionCode" name="employeePositionCode" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Designation</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right disabled" id="designation" name="designation" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Department</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="department" name="department" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Department Head</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right disabled" id="departmentHead" name="departmentHead" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Cost Center</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="costCenter" name="costCenter" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Cost Center Head</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right disabled" id="costCenterHead" name="costCenterHead" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Passport Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="passportNumber" name="passportNumber" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Passport Epiry</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right disabled" id="passportEpiry" name="passportEpiry" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Qatar ID</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="qatarID" name="qatarID" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Qatar Expiry</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right disabled" id="qatarExpiry" name="qatarExpiry" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Location</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="location" name="location" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Section</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right disabled" id="section" name="section" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Contact Details</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="contactDetails" name="contactDetails" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Travel Details</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Enter Travel Details</a></li>
                    <li><a href="#tab_2" data-toggle="tab">View Details</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Purpose of Visit</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Port Of Origin</label>
                                    <div class="col-sm-9">
                                        <select class="form-control select2" style="width: 100%;">
                                            <option>Alabama</option>
                                            <option>Alaska</option>
                                            <option>California</option>
                                            <option>Delaware</option>
                                            <option>Tennessee</option>
                                            <option>Texas</option>
                                            <option>Washington</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Port Of Destination</label>
                                    <div class="col-sm-9">
                                        <select class="form-control select2" style="width: 100%;">
                                            <option>Alabama</option>
                                            <option>Alabama</option>
                                            <option>Alaska</option>
                                            <option>California</option>
                                            <option>Delaware</option>
                                            <option>Tennessee</option>
                                            <option>Texas</option>
                                            <option>Washington</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Ticket Class</label>
                                    <div class="col-sm-9">
                                        <select class="form-control">
                                            <option>option 1</option>
                                            <option>option 2</option>
                                            <option>option 3</option>
                                            <option>option 4</option>
                                            <option>option 5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Travel Days</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control disabled" id="travelDays" name="travelDays" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Daily Allowance</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control disabled" id="dailyAllowance" name="dailyAllowance" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-3">Currency</label>
                                    <div class="col-sm-9">
                                        <select class="form-control select2" style="width: 100%;">
                                            <option>option 1</option>
                                            <option>option 2</option>
                                            <option>option 3</option>
                                            <option>option 4</option>
                                            <option>option 5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2">Remarks</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control disabled" id="remarks" name="remarks" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="button" class="form-control btn btn-info" value="Add" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input type="button" class="form-control btn btn-info" value="Reset" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        @Html.Partial("_DetailsGrid")
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        <div class="row" style="margin-bottom:15px">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3">Purpose of Visit</label>
                                    <div class="col-sm-12">
                                        <textarea class="form-control" rows="5" placeholder="Enter ..." id="purposeOfVisit" name="purposeOfVisit"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>

        </div>
    </div>
</div>

<div class="col-xs-12 col-md-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Additional Travel Details</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div>
                <div style="margin-bottom:15px">
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Departure Date</label>
                            <div class="col-sm-9">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right datepicker" id="departureDate" name="departureDate">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Return Date</label>
                            <div class="col-sm-9">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right datepicker" id="returnDate" name="returnDate" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Preferred Departure Time</label>
                            <div class="col-sm-9">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group time">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input type="text" class="form-control timepicker" id="departureTime" name="departureTime" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Preferred Return Time</label>
                            <div class="col-sm-9">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input type="text" class="form-control timepicker" id="returnTime" name="returnTime" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">First Day of Business</label>
                            <div class="col-sm-9">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right datepicker" id="firstDayOfBusiness" name="firstDayOfBusiness" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Last Day of Business</label>
                            <div class="col-sm-9">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right datepicker" id="lastDayOfBusiness" name="lastDayOfBusiness" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-2">Remarks</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control disabled" id="remarks" name="remarks" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Accomodation Details</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div>
                <div style="margin-bottom:15px">
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Air Ticket Arrangement</label>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="r3" class="flat-red" checked> BTC
                                    </label>
                                    &emsp;
                                    &emsp;
                                    &emsp;
                                    <label>
                                        <input type="radio" name="r3" class="flat-red"> Other
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Hotel Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control pull-right" id="hotelName" name="hotelName" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Travel Allowance</label>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="r3" class="flat-red" checked> BTC
                                    </label>
                                    &emsp;
                                    &emsp;
                                    &emsp;
                                    <label>
                                        <input type="radio" name="r3" class="flat-red"> Other
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Check In Date</label>
                            <div class="col-sm-9">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right datepicker" id="checkInDate" name="checkInDate" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Hotel Stay</label>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="r3" class="flat-red" checked> BTC
                                    </label>
                                    &emsp;
                                    &emsp;
                                    &emsp;
                                    <label>
                                        <input type="radio" name="r3" class="flat-red"> Other
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Check In Time</label>
                            <div class="col-sm-9">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input type="text" class="form-control timepicker" id="checkInTime" name="checkInTime" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Hotel Category</label>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option>option 1</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                    <option>option 5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Check Out Date</label>
                            <div class="col-sm-9">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right datepicker" id="checkOutDate" name="checkOutDate" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Room Category</label>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option>option 1</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                    <option>option 5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Check Out Time</label>
                            <div class="col-sm-9">
                                <div class="bootstrap-timepicker">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input type="text" class="form-control timepicker" id="checkOutTime" name="checkOutTime" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Room Type</label>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option>option 1</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                    <option>option 5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Airport Pickup</label>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="r3" class="flat-red" checked> Yes
                                    </label>
                                    &emsp;
                                    &emsp;
                                    &emsp;
                                    <label>
                                        <input type="radio" name="r3" class="flat-red"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Additional Expenses</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control disabled" id="additionalExpenses" name="additionalExpenses" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3">Pickup By</label>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="r3" class="flat-red" checked> Hotel
                                    </label>
                                    &emsp;
                                    &emsp;
                                    &emsp;
                                    <label>
                                        <input type="radio" name="r3" class="flat-red"> Other
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

